.gameboardwindow{
    margin: auto;
     border:2px solid #0b4052;
     border-radius: 20px;
     background-color:rgba(239, 236, 236, 0.651);
}
.board-title{
    background-color: #0b4052;
    font-family: Darumadrop One;
    color:whitesmoke;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.bi-house-gear-fill{
    font-size: xx-large;
    color:rgb(11, 221, 151);
}

.player1info{
    padding: 0;
    border-radius: 10px 0px 0px 10px;
}

.player2info{
    padding: 0 4px 0 4px;
    border-radius:  0px 10px 10px 0px;
}

.playerinfoboard{
    font-family: Outfit;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    padding-top:10px;
    margin: auto;
}

.boardwindow{
    margin:auto;
    
}
.board-row{
    flex-wrap:nowrap;
}
.board-row{
    padding-bottom: 10px;
}

.square{
    background-color:rgb(239, 231, 231);
    width:90px;
    height:90px;
    box-shadow: 0 0.3rem 0.3rem #0b4052!important;
    border:solid 1px #0b4052;

}

.buttonmark{
    font-family: Outfit;
    font-weight: bolder;
    font-style: normal;
    font-size: 70px;
}

.xmark{
    color:#dd9613;
}
.omark{
    color:tomato;
}
.x-player{
    background-color: #F2B137 !important;
    border-bottom:#dd9613 5px solid;
}

.o-player{
    background-color: tomato !important;
    border-bottom:rgb(231, 58, 28) 5px solid;
}

.player1turnoff,.player2turnoff{
    background-color: rgb(173, 164, 164);
}



.continuebutton{
    background-color:#F2B137;
    font-size: 26px;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-shadow: 0px 5px 0px 0px #a47825;
    /* width: 50%; */
}
.continuebutton:hover{
    background-color: #FFC860;
}

.continuebutton:focus{
    background-color:#edbe67;
    box-shadow: 0 5px #666;
}

.continuebutton:focus:active{
    background-color:#edbe67;
    box-shadow: 0 5px #666;
}

.quitbutton{
    background-color:tomato;
    font-size: 26px;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-shadow: 0px 5px 0px 0px rgb(172, 59, 39);

}

.quitbutton:hover{
    background-color: rgb(253, 130, 108);
}
.quitbutton:focus{
    background-color: rgb(253, 130, 108);
    box-shadow: 0 5px #666;
}
.quitbutton:focus:active{
    background-color: rgb(253, 130, 108);
    box-shadow: 0 5px #666;
}
.mheader{
    background-color: #0b4052;
    display: block;
    text-align: center;
}

.msbody{
    background-color: #d6e8ed;
}
.msfoot{
    background-color: #0b4052;
}
.mtitleclass{
    color:whitesmoke;
    font-family: Outfit;
    font-style: normal;
    font-size: 28px;
    font-weight: bolder;
}
.drmsg{
    color:#0b4052;
    font-family: Outfit;
    font-style: normal;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

