.App{
  background-color:whitesmoke;
}

.header{
  /* background-color: blueviolet; */
  width: fit-content;
}

.home-screen{
  /* background-color: #A3BCCA; */
  height:auto;
  
  /* margin:8% 5% 8% 5%;
  padding-right: 200px;
  padding-left:200px; */
   
} 

